<!DOCTYPE html>
<html>

<head>
    <title>Music Recommendation System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script>
        function myFunction() {
            var x = document.getElementById("myTopnav");
            if (x.className === "topnav") {
                x.className += " responsive";
            } else {
                x.className = "topnav";
            }
        }
    </script>
</head>

<body>

    <div class="topnav" id="myTopnav">
        <a href="/" class="active">Home</a>
        <a href="/dashboard">Dashboard</a>
        <a href="/clustering">Clustering</a>
        <a href="/build_playlist">Build Playlist</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()"><i class="fa fa-bars"></i></a>
    </div>

    <h1>Spotify Playlist Builder</h1>

    <p>Music Recommendation System<br>DS5230 Project</p>

    <br><br><br><br><br>

    <div class="buttons">

        <a href="/dashboard"><button class="button1">EDA Dashboard</button></a>
        <br>
        <a href="/clustering"><button class="button2">Clustering</button></a>
        <br>
        <a href="/build_playlist"><button class="button3">Playlist Builder</button></a>

    </div>

    <div class="footer">
        <!-- <p>Copyright ©SumukhVasishtS</p> -->
        <a href="https://www.instagram.com/sumukh_vasisht/" target=_blank class="fa fa-instagram"></a>
        <a href="https://www.github.com/sumukh-vasisht/" target=_blank class="fa fa-github"></a>
    </div>

</body>

</html>